html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-inverse {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #d43f3a;
}

.CourseFormTable {
  BORDER-LEFT: #a4d9ff 1px solid;
  BORDER-RIGHT: #a4d9ff 1px solid;
  BORDER-TOP: #a4d9ff 1px solid;
  BORDER-BOTTOM: #a4d9ff 1px solid;
  border-collapse: collapse;
  width: 98%;
  FONT-SIZE: 12px;
  background: #FAFAFA;
}

.CourseFormTable caption {
  border: 1px #98b1c8 solid;
  font-size: 14px;
  height: 35px !important;
  color: black;
  font-weight: normal;
  text-align: center;
}

.CourseFormTable th {
  border: 1px #98b1c8 solid;
  font-weight: normal;
  font-size: 14px;
  height: 28px;
  color: black;
  text-align: center;
}

.CourseFormTable td {
  border: 1px #98b1c8 solid;
  height: 28px !important;
  width: 128px;
  text-align: center;
}

td.firstHiddenTd {
  height: 38px;
  height: 38px !important;
}

.CourseFormTable .firstHiddenTd {
  border: 1px #98b1c8 solid;
  font-weight: bold;
  border-right: #a4d9ff 0px;
  border-bottom: #a4d9ff 0px;
  width: 0px !important;
  width: 1px !important;
  font-size: 0px;
}

.NoFitCourse {
  border-left: #a4d9ff 1px solid;
  border-right: #a4d9ff 1px solid;
  border-top: #a4d9ff 1px solid;
  border-bottom: #a4d9ff 1px solid;
  border-collapse: collapse;
  font-size: 14px;
  background: #FAFAFA;
  width: 100%;
}

.NoFitCourse caption {
  border: 1px #98b1c8 solid;
  font-size: 14px;
  height: 20px;
  color: black;
}

.NoFitCourse th {
  border: 1px #98b1c8 solid;
  font-size: 14px;
  height: 20px;
  color: black;
  text-align: center;
}

